@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
html{
    font-family: 'Monteserrat';
}
.boldtitle{
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.boldtitle h1{
    font-size: 80px;
    font-weight: 500;
}
section{
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9a7c9;
}
.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.left3, .right3{
    width: 33%;
    height: 400px;
    background: url(./waves.jpg) no-repeat center /cover;
border-radius: 8px;
}
.middle3{
    width: 33%;
    height: 400px;
    background-color: #d890d8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    margin: 0 20px;
    text-align: center;
    /* margin-left: auto; check back on this */
}
.middle3 h1{
    font-size: 40px;
    font-weight: lighter;
}
.middle3 p{
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}
